.about {
  background-color: var(--page-bg);
  padding: 143px 0 144px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    padding-top: 9px;

    p{
      max-width: 770px;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 1200px) {
  .about {
		&__inner {
      display: block;
    }

    &__title {
      margin-bottom: 30px;
    }

    &__text {
      p{
        max-width: 100%;
      }
    }
	}
}

@media (max-width: 768px) {
  .about {
    padding: 70px 0 70px;
  }
}

@media (max-width: 576px) {
  .about {
    &__title {
      margin-bottom: 15px;
    }
  }
}