.menu {
  &__list {
    display: flex;
  }

  &__list-item + &__list-item {
    margin-left: 38px;
  }

  &__list-link {
    position: relative;
    padding: 0 9px 9px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: var(----text-color);
    transition: all 0.3;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      display: block;
      width: 0;
      height: 2px;
      background-color: var(--accent);
      transition: width 0.3s ease-out;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}
