.pricing {
  padding: 145px 0 160px;
  background-color: var(--page-bg);

  &__title {
    margin-bottom: 90px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  ul.pricing__item {
    width: 370px;
    padding: 24px 25px 50px;
    background-color: var(--light);
  }

  &__item {
    li {
      margin-bottom: 30px;
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      color: var(--title-color);
    }

    .pricing__item-name {
      margin-bottom: 8px;
      font-weight: bold;
      text-align: left;
    }

    .pricing__item-num {
      margin-bottom: 80px;
      font-size: 80px;
      line-height: 109px;

      sup {
        font-size: 40px;
        line-height: 54px;
      }
    }

    .pricing__item-link {
      display: block;
      margin-top: 70px;
      font-family: var(--font-accent);
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      letter-spacing: 1.2px;
      color: var(--title-color);
    }
  }
}

@media (max-width: 1200px) {
  .pricing {
    &__title {
      margin-bottom: 30px;
    }

    &__items {
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .pricing {
    padding: 70px 0 70px;

    &__items {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    ul.pricing__item {
      width: 70%;
    }
  }
}

@media (max-width: 576px) {
  .pricing {

    ul.pricing__item {
      width: 90%;
    }
  }
}
