.team {
  padding: 120px 0 130px;

  &__title {
    margin-bottom: 100px;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__name {
    padding: 35px 0 12px;
    text-align: center;
    font-family: var(--font-accent);
    font-size: 14px;
    font-weight: 700;
    color: #333333;
  }

  &__position {
    text-align: center;
    font-size: 12px;
    color: var(--text-color);
  }
}

@media (max-width: 1200px) {
  .team {
    &__title {
      margin-bottom: 30px;
    }

    &__items {
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .team {
    padding: 70px 0 70px;
  }
}

@media (max-width: 576px) {
  .team {
    &__items {
      display: block;
    }

    &__item {
      img {
        margin: 0 auto;
      }
    }
  }
}
